:root {
    --primary: #401414;
    --secondary: #BA392B;
    --on-primary: #CE2B23;
    --on-secondary: #F4442E;
}


html{
    height: auto;
    width: 100%;
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(#F4442E,#2B0504);
    color: white;
    padding-top:60px;
}

.pageContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.firstarea{
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 800px;
    padding: 50px;
    gap: 100px;
}

.secondarea{
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 800px;
    padding: 50px;
    gap: 100px;
}

#top{
    display: flex;
    flex-direction: column;
}

#top2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


#Icon_metro-menu{
    margin-top: 50%;
    cursor: pointer;
}
#Icon_account{
    margin-top:30%;
    margin-left:5%;
    cursor: pointer;
}

div.container{
    max-width: fit-content;
    height: 60px;
    text-align: left;
    cursor: pointer;
}

#navigation{
   background-color: var(--primary);
   z-index: 5;
   position: fixed;
   top: 0;
   height: 3.5rem;

}


.list-group-item{
    background-color: var(--on-secondary);
}

.navbar{
    padding: 0;
}
a.navbar-brand{
    margin-left: 4%;
    color: white;
    opacity: 80%;
    transition: 0.2s ease-in-out;

}
a.navbar-brand:hover{
    color: var(--on-secondary);
}

form.d-flex{
    margin-right: 30%;
    width: 40%;
}
.form-control{
    border-radius: 1.1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn.d-flex{
    height: fit-content;
    background-color: var(--on-primary);
    border-radius: 1.1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*Slide Menu Styling*/

#content{
    background-color: var(--on-secondary);
    z-index: 3;
    position: fixed;
}

.overlay{
    height: auto;
    width: 100%;
    z-index: 2;
}

#sidebar-nav {
    width: 200px;
    border-style: none; 
    
}

#sidebar{
    height: auto;
}

li a {
    color: white;
}

li a:hover{
    color: black;
}

.list-unstyled{
    margin-top:20px ;
}

.h-color{
    height:0px;
    border:none;
    border-top:1px solid black;
}

 
/*Container and container-items Styling*/

video {
    border-radius: 23px;
    width: 100%;
    height: 100%;
    
}
 

#Actor-Image-Container{
    display: flex;
    flex-direction: row;
    height: 420px;
    width: 350px;
    background-color: black;
    border-radius: 23px;
    justify-content: center;
    
 }

 #Actor-Name{
    width: 15vw; 
    letter-spacing: 1px;
    text-align: center;
    font-size: larger;
    background-color: var(--on-secondary);
    border-radius: 23px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #AD4434;
    position: absolute;
    margin-left: 160px;
    margin-top: 15px;
    border: 2px solid white;
 }



 #Actor-Details{
    width: 32vw; 
    text-align: center;
    font-size: larger;
    background-color: var(--on-secondary);
    border-radius: 23px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #AD4434;
    position: absolute;
    border: 2px solid white;
 }
 #Actor-Image{
    display: flex;
    object-fit: cover;
 }

 #Actor-Details-Container{
    display: flex;
    flex-direction: row;
    width:57vw;
    height: 400px;   
    background-color: #973526;
    border-radius: 23px;
 }

 #Actor-Containers{
    text-align: center;
    padding: 5px;
    width:12vw;
    height: 31vh;
    flex-direction: row;
    background-color:#E6402B;
    border-radius: 23px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

#Actor-Containers:hover{
    border: #E6402B 3px solid;
 }


#Actor-Images{
    width: 11vw;
    height: 200px;
    object-fit: cover;
    border-radius: 23px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


 #Actor-Born-Today-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:82vw;
    height: 260px;  
    background-color: #973526;
    border-radius: 10px;
   
 }

 #bio{
   margin: 50px;
   letter-spacing: 2.5px;
   font-size: x-large;
}

.Country-Name{
    width: 10vw; 
    letter-spacing: 1px;
    text-align: center;
    font-size: larger;
    border-radius: 23px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #AD4434;
    border: 2px solid white;
    cursor: pointer;
    color: white;
 }
 
 .Country-Name:hover{
    border: #E6402B 2px solid;
 }
 #Actor-Born-Country-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:82vw;
    height: 260px;  
    background-color: #973526;
    border-radius: 10px;
 }

 
 #Actor-Title{
    color: white;
    margin-right: auto;
    margin-left: 10%;
    
 }


#Actor-image{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/*Footer styling*/

footer{
    background-color: #663D3A;
    width: auto;
    padding-top: 10px;
    padding-bottom: 2px;

}
