:root {
    --primary: #401414;
    --secondary: #BA392B;
    --on-primary: #CE2B23;
    --on-secondary: #F4442E;
}


html{
    height: auto;
    width: 100%;
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(#F4442E,#2B0504);
    color: white;
    padding-top:60px;
}

.pageContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.firstarea{
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 800px;
    padding: 50px;
    gap: 100px;
}

.secondarea{
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 800px;
    padding: 50px;
    gap: 100px;
}

#top{
    display: flex;
    flex-direction: column;
}

#top2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


#Icon_metro-menu{
    margin-top: 50%;
    cursor: pointer;
}
#Icon_account{
    margin-top:30%;
    margin-left:5%;
    cursor: pointer;
}

div.container{
    max-width: fit-content;
    height: 60px;
    text-align: left;
    cursor: pointer;
}

#navigation{
   background-color: var(--primary);
   z-index: 5;
   position: fixed;
   top: 0;
   height: 3.5rem;

}


.list-group-item{
    background-color: var(--on-secondary);
}

.navbar{
    padding: 0;
}
a.navbar-brand{
    margin-left: 4%;
    color: white;
    opacity: 80%;
    transition: 0.2s ease-in-out;

}
a.navbar-brand:hover{
    color: var(--on-secondary);
}

form.d-flex{
    margin-right: 30%;
    width: 40%;
}
.form-control{
    border-radius: 1.1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn.d-flex{
    height: fit-content;
    background-color: var(--on-primary);
    border-radius: 1.1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*Slide Menu Styling*/

#content{
    background-color: var(--on-secondary);
    z-index: 3;
    position: fixed;
}

.overlay{
    height: auto;
    width: 100%;
    z-index: 2;
}

#sidebar-nav {
    width: 200px;
    border-style: none; 
    
}

#sidebar{
    height: auto;
}

li a {
    color: white;
}

li a:hover{
    color: black;
}

.list-unstyled{
    margin-top:20px ;
}

.h-color{
    height:0px;
    border:none;
    border-top:1px solid black;
}

 
/*Container and container-items Styling*/

video {
    border-radius: 23px;
    width: 100%;
    height: 100%;
    
}


#Movie-Tv-Container{
    display: flex; 
    background-color: black;
    position: relative;
    height: 380px;
    width: 500px;
    margin-left: 20px;
    border-radius: 23px;
    object-fit: fill;
 }

 #Movie-Tv-Details{
    width: 52vw;
    height: 250px;   
    margin-left: 10px;

    background-color: #973526;
    border-radius: 23px;
 }

 #arrange-Movie-Tv-details{
    padding: 10px;
    font-size: large;
 }

 #Movie-Tv-Actors{
    width:57vw;
    margin-left: 10px;
    height: 280px;  
    background-color: #973526;
    border-radius: 23px;
 }

 .m-2.Actor-Container{
    text-align: center;
    padding: 5px;
    width:57vw;
    height: 250px;  
    flex-direction: row;
    background-color:#E6402B;
    border-radius: 23px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.m-2.Actor-Container:hover{
    border: #E6402B 3px solid;
 }
#Actor-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 23px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


 #Coming-Soon-Movies-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95vw;
    height: 260px;  
    background-color: #973526;
    border-radius: 23px;
   
 }

 #Coming-Soon-Tv-Show-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:95vw;
    height: 260px;  
    background-color: #973526;
    border-radius: 23px;
 }
 #director{
    height: 5vh;  
    width: 25vw; 
    padding: 8px;
    background-color: var(--on-secondary);
    border-radius: 23px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #AD4434;
    position: absolute;
    bottom: -36px;
 }
 #rating{
    height: 4.5vh;   
    width: 10vw; 
    background-color: var(--on-secondary);
    border-radius: 23px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
    background-color: #AD4434;
    position: absolute;
    margin-top: 17.3%;
    margin-left: 22%;

 }

 #Cast{
    height: 4.5vh;   
    width: 20%;
    margin-left: 40%;
    text-align: center;
    margin-top: 1.5%;
    background-color: var(--on-secondary);
    border-radius: 23px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #AD4434;
 }

 #Movie-Tv-Title{
    height: 5vh;   
    width: 70%;
    background-color: var(--on-secondary);
    border-radius: 23px;
    border-top-right-radius: 0;
    border-top-left-radius: 23px;
    border-bottom-left-radius:0;
    background-color: #AD4434;
    padding: 5px;
    padding-left: 10px;
    font-size: larger;
 }

 #Coming-Soon-Movies{
    color: white;
    margin-right: auto;
    margin-left: 10%;
    
    
 }
 #Coming-Soon-Tv-Shows{
    
   color: white;
   margin-right: auto;
   margin-left: 10%;
 }


#Movie-Tv-show-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 12vw;
    height: 230px;
    background-color:#CE2B23;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

#Movie-Tv-show-image:hover{
    border: #E6402B 3px solid;
 }


#Movie-Tv-show-image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 12vw;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;   
    transition: 0.4s;

}


/*Footer styling*/

footer{
    background-color: #663D3A;
    width: auto;
    padding-top: 10px;
    padding-bottom: 2px;

}
