<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/trivia.css">
    <title>Movie Trivia</title>
</head>

<!--Nav bar-->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiar">
    <div class="container-fluid" id="navigation">
      <div data-bs-target="#sidebar" data-bs-toggle="collapse" class="container position-absolute top-0 start-0"
        id="icon-menu"><svg id="Icon_metro-menu" data-name="Icon metro-menu" xmlns="http://www.w3.org/2000/svg"
          width="30" height="25" viewBox="0 0 42.018 39.585">
          <path id="Icon_metro-menu-2" data-name="Icon metro-menu"
            d="M6.427,49.868H48.444v-6.6H6.427v6.6Zm0-16.494H48.444v-6.6H6.427v6.6Zm0-23.091v6.6H48.444v-6.6H6.427Z"
            transform="translate(-6.427 -10.283)" fill="#fff" opacity="0.932" />
        </svg></div>
      <a class="navbar-brand" href="/">FILMBUCKET</a>        
        <div class="container position-absolute top-0 end-0">
          <a href="/profile">
          <svg id="Icon_account" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 69 69">
            <path
              d="M35.5,3A32.5,32.5,0,1,0,68,35.5,32.512,32.512,0,0,0,35.5,3Zm0,9.75a9.75,9.75,0,1,1-9.75,9.75A9.737,9.737,0,0,1,35.5,12.75Zm0,46.15A23.4,23.4,0,0,1,16,48.435c.1-6.468,13-10.01,19.5-10.01a32.848,32.848,0,0,1,7.634,1.086c5.638,1.4,11.8,4.468,11.866,8.924A23.4,23.4,0,0,1,35.5,58.9Z"
              transform="translate(-3 -3)" fill="#fff" style="mix-blend-mode:lighten;isolation:isolate">
          </svg>
        </a>
        </div>
    </div>
    </div>
  </nav>
</header>

<!--Sidebar menu-->
<div class="container-fluid" >
    <div class="row flex-nowrap">
        <div class="col-auto px-0 " id="content">
            <div id="sidebar" class="collapse collapse-horizontal border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0  text-sm-center min-vh-100">
                  <ul class="list-unstyled px-2">
                    <li class=""><a href="/" class="text-decoration-none">Home</a></li>
                    <hr class="h-color">
                    <li class=""><a href="/topmovies" class="text-decoration-none">Top Rated Movies</a></li>
                    <hr class="h-color">
                    <li class=""><a href="/toptvshows" class="text-decoration-none">Top Rated Tv-Shows</a></li>
                    <hr class="h-color">
                    <li class=""><a href="/awards" class="text-decoration-none">Awards</a></li>
                    <hr class="h-color">
                    <li class=""><a href="/trivia" class="text-decoration-none">Trivia</a></li>
                    <hr class="h-color">
                    <li class=""><a href="/about" class="text-decoration-none">About Us</a></li>
                    <hr class="h-color">
                    <li class=""><a href="/search" class="text-decoration-none">Search</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<body>
    <!--Page Content-->
    <div class="overlay">
        <!--Overlay div used to create opacity layer between slide menu and page content *See styling in CSS file under Slide Menu styling* -->
        <div class="wrapper">
          <div class="inner-wrapper">
            <h2>Welcome to our movie trivia page!</h2>
            <p>

              If you're a movie buff or just enjoy testing your knowledge of film, you've come to the right place. Our page is designed to challenge your movie knowledge and keep you entertained with fun and interesting trivia questions.</p> <br>
              
              <p>We've got a wide range of trivia questions that cover everything from classic films to the latest blockbusters. Whether you're a fan of romantic comedies or action-packed thrillers, we've got something for everyone.</p>
              
              <p>So, grab some popcorn, get comfortable, and get ready to put your movie knowledge to the test. We hope you have a great time exploring our page and discovering new fun facts about your favorite films.</p>

            <div class="heading-row">
              <h3>Let's Begin!</h3>
            </div>
            <br>
            <form id="triviaform">
              <div class="row-one">
                  <h4>1&#41 What is the highest grossing film of 2022?</h4>
            </div>

            <div class="row-two">
                  <input id="ans1" class="form-control form-control-lg " type="text" placeholder="Answer:">
          </div>

          <div class="row-three">
                <h3 class="text-light" >2&#41 What movie popularized the phrase: "May the force be with you"?</h3>
        </div>

        <div class="row-four">
          <div id="radioBtnContainer" class="column-one">
              <div class="form-check">
                  <input id="ans2" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Star Trek" required>
                  <label class="form-check-label text-light" for="exampleRadios1">
                    <h5>A&#41 Star Trek</h5>
                  </label>
                </div>
                <div class="form-check">
                  <input id="ans2" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Star Wars">
                  <label class="form-check-label text-light" for="exampleRadios2">
                    <h5>B&#41 Star Wars</h5>
                  </label>
                </div>
                <div class="form-check">
                  <input id="ans2" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Guardian of the Galaxy" >
                  <label class="form-check-label text-light" for="exampleRadios3">
                    <h5>C&#41 Guardian of the Galaxy</h5>
                  </label>
                </div>
                <div class="form-check">
                  <input id="ans2" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="Shrek" >
                  <label class="form-check-label text-light" for="exampleRadios4">
                    <h5>D&#41 Shrek</h5>
                  </label>
                </div>
          </div>
      </div>


      <div class="row-five">
            <h3 class="text-light">3&#41 What is the first rule of fight club?</h3>
        
    </div>  



  <div class="row-six">
            <input id="ans3" class="form-control form-control-lg" type="text" placeholder="Answer:" required>
  </div>
  <br>

  <!-- Submit button   -->
  <div class="row-seven text-center">
    <input id="submitbtn" class="btn btn-danger text-light" type="submit" value="Submit" onclick="submitForm(event)">
  </div>
</form>


          </div>
        </div>
        

    
        <footer class="text-white text-center text-small">
          <p class="mb-1">&copy; 2023 Copyright Film Bucket</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-white text-decoration-underline" href="/">Home</a></li>
            <li class="text-white list-inline-item"><a class="text-white text-decoration-underline" href="/about">About Us</a></li>
            <li class="text-white list-inline-item"><a class="text-white text-decoration-underline" href="/trivia">Trivia</a></li>
          </ul>
      </footer>
</div>
  





<script src="/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
<script src="/Controller/trivia.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>